* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

#ball-container {
	width: 500px;
	height: 500px;
	display: flex;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	background: hsl(0, 0%, 100%);
}

#ball {
	background: hsl(0, 0%, 20%);
	width: 500px;
	height: 500px;
	border-radius: 100%;
}

#clicker {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	opacity: 0%;
	cursor: pointer;
}

#border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid hsl(0, 0%, 0%);
	width: 500px;
	height: 500px;
	border-radius: 100%;
	pointer-events: none;
}

.dissapear {
	display: none;
}

.animationShrink {
	animation: shrinkMovement;
}

.animationGrow {
	animation: growMovement;
}

@keyframes growMovement {
	0% {
		width: 0px;
		height: 0px;
	}

	5% {
		width: 25px;
		height: 25px;
	}

	10% {
		width: 50px;
		height: 50px;
	}

	15% {
		width: 75px;
		height: 75px;
	}

	20% {
		width: 100px;
		height: 100px;
	}

	25% {
		width: 125px;
		height: 125px;
	}

	30% {
		width: 150px;
		height: 150px;
	}

	35% {
		width: 175px;
		height: 175px;
	}

	40% {
		width: 200px;
		height: 200px;
	}

	45% {
		width: 225px;
		height: 225px;
	}

	50% {
		width: 250px;
		height: 250px;
	}

	55% {
		width: 275px;
		height: 275px;
	}

	60% {
		width: 300px;
		height: 300px;
	}

	65% {
		width: 325px;
		height: 325px;
	}

	70% {
		width: 350px;
		height: 350px;
	}

	75% {
		width: 375px;
		height: 375px;
	}

	80% {
		width: 400px;
		height: 400px;
	}

	85% {
		width: 425px;
		height: 425px;
	}

	90% {
		width: 450px;
		height: 450px;
	}

	95% {
		width: 475px;
		height: 475px;
	}

	100% {
		width: 500px;
		height: 500px;
	}
}

@keyframes shrinkMovement {
	0% {
		width: 500px;
		height: 500px;
	}

	5% {
		width: 475px;
		height: 475px;
	}

	10% {
		width: 450px;
		height: 450px;
	}

	15% {
		width: 425px;
		height: 425px;
	}

	20% {
		width: 400px;
		height: 400px;
	}

	25% {
		width: 375px;
		height: 375px;
	}

	30% {
		width: 350px;
		height: 350px;
	}

	35% {
		width: 325px;
		height: 325px;
	}

	40% {
		width: 300px;
		height: 300px;
	}

	45% {
		width: 275px;
		height: 275px;
	}

	50% {
		width: 250px;
		height: 250px;
	}

	55% {
		width: 225px;
		height: 225px;
	}

	60% {
		width: 200px;
		height: 200px;
	}

	65% {
		width: 175px;
		height: 175px;
	}

	70% {
		width: 150px;
		height: 150px;
	}

	75% {
		width: 125px;
		height: 125px;
	}

	80% {
		width: 100px;
		height: 100px;
	}

	85% {
		width: 75px;
		height: 75px;
	}

	90% {
		width: 50px;
		height: 50px;
	}

	95% {
		width: 25px;
		height: 25px;
	}

	100% {
		width: 0px;
		height: 0px;
	}
}
